.index-body {
    background-image: url("/img/football.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.election .card {
    border: 1px solid black;
}

.election .card-body:hover {
    background: #e2e2e2;
    cursor: pointer;
}

#signUpLink, #registerLink {
    text-decoration-line: none;
}

#signUpLink:hover {
    color: blueviolet;
}

#registerLink:hover {
    color: blueviolet;
}

#logoutNavLink:hover {
    cursor: pointer;
}