@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.election .card {
    border: 1px solid black;
}

.election .card-body:hover {
    background: #e2e2e2;
    cursor: pointer;
}

#signUpLink, #registerLink {
    text-decoration-line: none;
}

#signUpLink:hover {
    color: blueviolet;
}

#registerLink:hover {
    color: blueviolet;
}

/*navbar*/
#logoutNavLink:hover {
    cursor: pointer;
}

.nav-link {
    transition: all .2s;
}

.nav-link:hover {
    text-decoration: underline;
}